.login{
    display: flex;
    flex-direction:column;
    align-items:center;
    height: 70vh;
    justify-content:center
}
.login__logo{
    margin: auto;
    object-fit: contain;
    width: 220px;
}
.login__container{
    max-width: 320px;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
}
input[type="email"],
input[type="password"]{
    margin-top: 17px;
    margin-bottom: 5px;
    width: 98%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 2px;
    outline: none;
    caret-color: #FFBF00;
    font-size: 17px;
}
::placeholder{
    padding-left: 5px;
    font-size: 17px;
    color: #333;
}
.login__form input:focus{
    outline: 2px solid #FFBF00;
    border:none;
}
.login__form h1{
    text-align: center;
    margin-top: -5px;
    margin-bottom: -0.6px;
    font-size: 37px;
    font-weight: 620;
}
.login__button{
    color: #333;
    border-radius: 2px;
    margin-top: 10px;
    width: 100%;
    background: #FFBF00;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    margin-bottom: 10px;
}
.login__button:active{
    transform: scale(0.98);
}
.login__registerButton{
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    margin-top: 7px;
    height: 30px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    color: black;
}
.login span{
    font-size: 14px;
    border-bottom: 1px solid #FFBF00;
}
.login__form label{
    font-size: 20px;
}
.success__msg{
    display: flex;
    width: fit-content;   
    height: auto; 
    padding: 5px;
    color: green;
    background-color: rgba(245, 245, 245, 0.35);
    border-radius: 4px;
    font-size: 14px;
}
.error__msg{
    display: flex;
    width: fit-content;   
    height: auto; 
    padding: 5px;
    color: rgb(188, 3, 3);
    background-color: rgba(245, 245, 245, 0.35);
    border-radius: 4px;
    font-size: 14px;
}